body {
    min-width: 320px;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 480px) {
        width: 480px
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
img {
    width: 100%;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-item {
    margin-bottom: 10px;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 0;
}

.grid-item:hover {
    cursor: pointer;
    transform: rotate(180deg);
    /* overflow: hidden; */
    /* backface-visibility: hidden; */
}

/* * {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



/* ---- grid ---- */

/* .grid {
    background: #EEE;
    max-width: 1200px;
} */

/* clearfix */
/* .grid:after {
    content: '';
    display: block;
    clear: both;
} */

/* ---- grid-item ---- */
/* 
.grid-item {
    width: 160px;
    height: 120px;
    float: left;
    /* background: #D26; */
    /* border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
} */
/*  
.grid-item--width2 {
    width: 320px;
}

.grid-item--width3 {
    width: 480px;
}

.grid-item--width4 {
    width: 640px;
}

.grid-item--height2 {
    height: 200px;
}

.grid-item--height3 {
    height: 260px;
}

.grid-item--height4 {
    height: 360px;
}


.grid-item--gigante {
    width: 320px;
    height: 360px;
}

.grid-item:hover {
    /* background: #A2C; */
    /*border-color: white;
    cursor: pointer;
} */ 